_site
.sass-cache
Gemfile.lock
*.gem
*.idea
*.iml

target/

.attach*

depclean-core/target
depclean-gradle-plugin/target
depclean-maven-plugin/target

depclean-core/depclean-core.iml
depclean-core/target/generated-sources/
depclean-maven-plugin/depclean-maven-plugin.iml
depclean-maven-plugin/target/generated-sources/
depclean-maven-plugin/target/generated-test-sources/
depclean-parent-pom.iml
/.java-version

