<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- commons-io is only used through this bean declaration -->
    <bean id="fileMonitor" class="org.apache.commons.io.monitor.FileAlterationMonitor" />

</beans>