build/
.gradle/
src/Test/resources/all_dependencies_unused/.gradle/
src/Test/resources/all_dependencies_unused/build/
src/Test/resources/all_dependencies_used/.gradle/
src/Test/resources/all_dependencies_used/build/
src/Test/resources/empty_project/.gradle/
src/Test/resources/empty_project/build/
src/Test/resources/processor_used/.gradle/
src/Test/resources/processor_used/build/
src/Test/resources/all_dependencies_used/userHome/
src/Test/resources/all_dependencies_unused/userHome/
src/Test/resources/empty_project/userHome/
src/Test/resources/processor_used/userHome/
